# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
.coverage.*
htmlcov/
cover/

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Project specific
.curriculum_curator/
output/

# macOS
.DS_Store

# Editors
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebooks
.ipynb_checkpoints

# Logs
*.log

# Local file for ideas, suggestions, etc. that do not need to be version controlled
_notes/
